$themes: (
  light: $light-theme,
  dark: $dark-theme,
);

@mixin theme-transition {
  transition: all 0.25s;
}

@mixin svg-icon-theme-fill-color {
  filter: var(--theme-toggle-image-fill-color);
}

@mixin update-theme-dependant-variables($color-scheme-name, $theme-map) {
  --os-color-scheme: #{$color-scheme-name};
  --theme-background-color: #{map-get($theme-map, background-color)};
  --theme-text-color: #{map-get($theme-map, text-color)};
  --card-body-color: #{map-get($theme-map, card-body-color)};
  --theme-nav-background-color: #{map-get($theme-map, nav-background-color)};
  --theme-toggle-image-fill-color: #{map-get(
      $theme-map,
      toggle-image-fill-color
    )};
}

@mixin update-toggle-image($theme-map) {
  #toggle_dark_light_mode {
    background-image: url("../img/#{map-get($theme-map, toggle-image-name)}");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    @include svg-icon-theme-fill-color;
    @include theme-transition;
  }
}

@mixin theme_from($color-scheme-name, $theme-map) {
  @include update-theme-dependant-variables($color-scheme-name, $theme-map);
  @include update-toggle-image($theme-map);
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
  @include theme-transition;
}

@each $name, $theme-map in $themes {
  body.#{$name}-theme {
    @include theme_from($name, $theme-map);
  }

  @media (prefers-color-scheme: $name) {
    body {
      @include theme_from($name, $theme-map);
    }
  }
}
