$light-theme: (
  background-color: #dbe1e8,
  text-color: $black,
  toggle-image-name: "moon-stars-fill.svg",
  toggle-image-fill-color: invert(0%) sepia(3%) saturate(4%) hue-rotate(319deg)
    brightness(92%) contrast(100%),
  card-body-color: $white,
  nav-background-color: $white,
);
