.article {
    margin: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
}

.article h2 {
    font-size: 2.8rem;
}

.article__content {
    margin-top: 2rem;
    text-align: left;
    font-size: 1.5rem;
}

.article__content h3 {
    font-size: 2.2rem;
    margin: 1rem auto;
}

.article__content p:not(:last-child) {
    margin-bottom: 2rem;
}

.article__content .spotify_player {
    border-radius: 1rem;
    width: 100%;
    height: 30rem;
}

.article__content .comparison_table {
    margin: auto;
    border-collapse: collapse;
}

.article__content .comparison_table th {
    background-color: #dbe1e8;
    text-align: center;
}

.article__content .comparison_table th,
td {
    padding: 0.5rem;
    border: 0.1rem solid;
}