@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
body.light-theme {
  --os-color-scheme: light;
  --theme-background-color: #dbe1e8;
  --theme-text-color: #000;
  --card-body-color: #fff;
  --theme-nav-background-color: #fff;
  --theme-toggle-image-fill-color: invert(0%) sepia(3%) saturate(4%) hue-rotate(319deg) brightness(92%) contrast(100%);
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
  transition: all 0.25s;
}

body.light-theme #toggle_dark_light_mode {
  background-image: url("../img/moon-stars-fill.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  filter: var(--theme-toggle-image-fill-color);
  transition: all 0.25s;
}

@media (prefers-color-scheme: light) {
  body {
    --os-color-scheme: light;
    --theme-background-color: #dbe1e8;
    --theme-text-color: #000;
    --card-body-color: #fff;
    --theme-nav-background-color: #fff;
    --theme-toggle-image-fill-color: invert(0%) sepia(3%) saturate(4%) hue-rotate(319deg) brightness(92%) contrast(100%);
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    transition: all 0.25s;
  }
  body #toggle_dark_light_mode {
    background-image: url("../img/moon-stars-fill.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    filter: var(--theme-toggle-image-fill-color);
    transition: all 0.25s;
  }
}

body.dark-theme {
  --os-color-scheme: dark;
  --theme-background-color: #12181b;
  --theme-text-color: #fff;
  --card-body-color: #2a2e35;
  --theme-nav-background-color: #2a2e35;
  --theme-toggle-image-fill-color: invert(100%) sepia(0%) saturate(4371%) hue-rotate(274deg) brightness(106%) contrast(102%);
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
  transition: all 0.25s;
}

body.dark-theme #toggle_dark_light_mode {
  background-image: url("../img/sun-fill.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  filter: var(--theme-toggle-image-fill-color);
  transition: all 0.25s;
}

@media (prefers-color-scheme: dark) {
  body {
    --os-color-scheme: dark;
    --theme-background-color: #12181b;
    --theme-text-color: #fff;
    --card-body-color: #2a2e35;
    --theme-nav-background-color: #2a2e35;
    --theme-toggle-image-fill-color: invert(100%) sepia(0%) saturate(4371%) hue-rotate(274deg) brightness(106%) contrast(102%);
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    transition: all 0.25s;
  }
  body #toggle_dark_light_mode {
    background-image: url("../img/sun-fill.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    filter: var(--theme-toggle-image-fill-color);
    transition: all 0.25s;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: clamp(2rem, 100vw, 4rem);
}

.fs-h2 {
  font-size: clamp(1.4rem, 100vw, 2.8rem);
}

.fs-h3 {
  font-size: clamp(1.25rem, 100vw, 2.5rem);
}

.fs-h4 {
  font-size: clamp(1rem, 100vw, 2rem);
}

p,
a,
blockquote,
.input-fs {
  font-size: clamp(0.85rem, 100vw, 1.7rem);
}

.semibold_weight {
  font-weight: 600;
}

.fs-inherit {
  font-size: inherit;
}

.vw-90 {
  width: 90vw;
}

.mb-2r {
  margin-bottom: 2rem;
}

.my-2r {
  margin: 2rem auto;
}

.fit-content-center {
  width: fit-content;
  margin: auto;
}

form.row {
  justify-content: center;
  align-items: center;
}

.form-floating {
  font-style: italic;
}

.form-floating > * {
  color: var(--theme-text-color);
  color-scheme: var(--os-color-scheme);
}

.form-floating > *:focus {
  color: var(--theme-text-color);
  background-color: var(--card-body-color);
}

.form-floating > textarea {
  background-color: var(--card-body-color);
}

.form-floating > textarea.form-control {
  height: 15vh;
}

.form-floating > input {
  background-color: var(--card-body-color);
}

.btn-submit {
  font-size: clamp(0.75rem, 100vw, 1.5rem);
  border: none;
  border-radius: 1rem;
  background: linear-gradient(to top, #2e76f1, #8dd5f1);
  color: #fff;
}

.btn-submit:hover {
  color: #000;
  background: linear-gradient(to bottom, #2e76f1, #8dd5f1);
}

.card {
  background-color: var(--card-body-color);
}

.animated-card {
  transform: translateY(0);
  transition: transform 0.3s;
}

.animated-card:hover {
  transform: translateY(-0.5rem);
}

.card-rounded-corners {
  border-radius: 0.75rem;
}

.card-shadow {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 30, 84, 0.12);
}

.accordion-item {
  --bs-accordion-color: var(--theme-text-color);
}

.accordion-button {
  --bs-accordion-btn-color: var(--theme-text-color);
}

.navigation_bar {
  --bs-navbar-color: var(--theme-text-color);
  --bs-navbar-toggler-border-color: var(--theme-nav-background-color);
  background-color: var(--theme-nav-background-color);
}

.navigation_bar .navigation_bar__logo {
  width: 15rem;
}

.navigation_bar .navigation_bar__options a {
  font-size: clamp(1rem, 100vw, 2rem);
  color: var(--theme-text-color);
  font-weight: 300;
}

.navigation_bar .navigation_bar__options a:hover {
  transform: scale(1.17);
  font-weight: 400;
  transition: all 0.15s;
}

@media only screen and (min-width: 992px) {
  .navigation_bar {
    top: -6.2rem;
    transition: top 0.25s ease;
  }
  .navigation_bar:hover {
    top: 0;
  }
}

#toggle_dark_light_mode {
  cursor: pointer;
}

.navbar-toggler-icon {
  width: 3.5rem;
  height: 3.5rem;
  filter: var(--theme-toggle-image-fill-color);
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header h1 {
  text-align: center;
  margin: 2rem;
  animation-name: opacity;
  animation-duration: 1s;
}

footer {
  font-size: clamp(0.75rem, 100vw, 1.5rem);
  font-weight: 300;
}

footer .copyright-and-social-networks {
  margin-bottom: 2rem;
}

footer .copyright-and-social-networks .social_network_logo {
  width: 2.5rem;
}

footer blockquote p {
  font-size: clamp(0.75rem, 100vw, 1.5rem);
}

footer .blockquote-footer {
  font-size: clamp(0.6rem, 100vw, 1.2rem);
}

@media only screen and (min-width: 992px) {
  footer .copyright-and-social-networks {
    margin: 0;
  }
  footer .row {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1400px) {
  .latest-lesson-container {
    display: flex;
    align-items: stretch;
  }
}

.article-link {
  color: var(--theme-text-color);
  background-color: var(--theme-background-color);
  border: none;
}

.article-link:hover {
  color: #0000ff;
}

.subscription {
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.subscription .subscription__form input::placeholder {
  padding-left: 0.5rem;
}

.aside_logo {
  margin: 1rem;
  width: 10rem;
}

.lesson-rounded-top {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

@media only screen and (max-width: 991px) {
  .spotify-player {
    height: 35vh;
  }
}

.manifesto-quote {
  padding-left: 1rem;
  font-weight: 300;
  margin: 2rem;
}

.blockquote-border, .white-blockquote-border, .black-blockquote-border {
  border-left-width: 0.3rem;
  border-left-style: dashed;
}

.white-blockquote-border {
  border-left-color: #fff;
}

.black-blockquote-border {
  border-left-color: #000;
}

#manifestoAccordion {
  --bs-accordion-bg: var(--card-body-color);
}

.contact_presentation {
  font-size: clamp(1.25rem, 100vw, 2.5rem);
  display: block;
  margin: 0 auto 2rem;
  font-family: monospace;
  white-space: nowrap;
  border-right: .4rem solid;
  width: 19ch;
  animation: typing 2s steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (min-width: 576px) {
  .form-width {
    width: 75%;
  }
}
