/*---------------- Starts the style common to all pages ----------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: #dbe1e8;
}

h1 {
    font-size: 5rem;
}

.fs-h2 {
    font-size: 3.9rem;
}

.fs-h3 {
    font-size: 3.2rem;
}

.fs-h4 {
    font-size: 2.8rem;
}

.semibold_weight {
    font-weight: 600;
}

.navigation_bar {
    background-image: url('../img/navigation-bar-background-image.jpg');
    background-size: cover;
}

.navigation_bar__logo {
    width: 15rem;
}

.navigation_bar__options a {
    color: #000;
    font-size: 2rem;
    font-weight: 300;
}

.navigation_bar__options a:hover {
    transform: scale(1.17);
    font-weight: 400;
    transition: all 0.15s;
}

#toggle_dark_light_mode {
    cursor: pointer;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header h1 {
    text-align: center;
    margin: 2rem;
    animation-name: opacity;
    animation-duration: 1s;
}

.vw-90 {
    width: 90vw;
}

.mb-2r {
    margin-bottom: 2rem;
}

.my-2r {
    margin: 2rem auto;
}

footer {
    font-size: 2.1rem;
    font-weight: 300;
}

.fit-content-center {
    width: fit-content;
    margin: auto;
}

.copyright-and-social-networks {
    margin-bottom: 2rem;
}

.social_network_logo {
    width: 2.5rem;
}

.btn-submit {
    border: none;
    border-radius: 1rem;
    background: linear-gradient(to top, #2e76f1, #8dd5f1);
    color: white;
}

.btn-submit:hover {
    background: linear-gradient(to bottom, #2e76f1, #8dd5f1);
}

/*---------------- Starts the style of Index page ----------------*/

.section-paragraph {
    font-size: 2.5rem;
    line-height: 3.2rem;
}

.article-link {
    color: #000;
    font-size: 2rem;
    background-color: #dbe1e8;
    border: none;
}

.article-link:hover {
    color: blue;
}

.subscription {
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.subscription p {
    font-size: 2.1rem;
    line-height: 2.7rem;
}

.subscription__form input::placeholder {
    padding-left: 0.5rem;
}

.sponsor_logo {
    margin: 1rem;
    width: 10rem;
}

/*---------------- Starts the style of Lessons page ----------------*/

/*---------------- Starts the style of Blog page ----------------*/

.vh-25 {
    height: 25vh;
}

/*---------------- Starts the style of About page ----------------*/

blockquote {
    border-left: 0.3rem dashed #fff;
    padding-left: 1rem;
    font-size: 2.8rem;
    font-weight: 300;
    margin: 2rem;
}

.fs-inherit {
    font-size: inherit;
}

/*---------------- Starts the style of Contact page ----------------*/

.contact_presentation {
    display: block;
    margin: 0 auto 2rem;
    font-size: 2.5rem;
    font-family: monospace;
    white-space: nowrap;
    border-right: .4rem solid;
    width: 19ch;
    animation: typing 2s steps(19), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

form.row {
    justify-content: center;
}

.form-floating>textarea.form-control {
    height: 15vh;
}

/*---------------- Starts the Small responsive style (576) ----------------*/

@media only screen and (min-width: 576px) {
    /*---------------- Starts the Small responsive style (576) of About page ----------------*/

    .form-width {
        width: 75%;
    }
}

/*---------------- Starts the Medium responsive style (768) ----------------*/
@media only screen and (max-width:768px) {

    /*---------------- Starts the Medium responsive style (768) of About page ----------------*/
    form.row>* {
        padding: 0;
    }

}

/*---------------- Starts the responsive style (992) ----------------*/

@media only screen and (min-width: 992px) {
    /*---------------- Starts the responsive style (992) common to all pages ----------------*/

    .copyright-and-social-networks {
        margin: 0;
    }

    .footer-row {
        justify-content: space-between;
    }
}