.article-link {
    color: $black;
    background-color: $white-theme-color;
    border: none;
    &:hover{
        color: $blue;
    }
}

.subscription {
    border: 0.2rem solid $white;
    border-radius: 1rem;
    padding: 1rem;
    .subscription__form input{
        &::placeholder {
            padding-left: 0.5rem;
        }
    }
}

.aside_logo {
    margin: 1rem;
    width: 10rem;
}