@media only screen and (min-width: 1400px) {
  .latest-lesson-container {
    display: flex;
    align-items: stretch;
  }
}

.article-link {
  color: var(--theme-text-color);
  background-color: var(--theme-background-color);
  border: none;
  &:hover {
    color: $blue;
  }
}

.subscription {
  border: 0.2rem solid $white;
  border-radius: 1rem;
  padding: 1rem;
  .subscription__form input {
    &::placeholder {
      padding-left: 0.5rem;
    }
  }
}

.aside_logo {
  margin: 1rem;
  width: 10rem;
}
